@import url("bootstrap.min.css");


h2 {
	color:rgb(0,149,182);
	padding-top: 25px;
	padding-bottom:10px;
}
.jumbotron h1 {
	padding-top:50px;
	padding-bottom:10px;
	font-size:3em;
}
.navbar {
	background:rgb(0,149,182);
}
.navbar-header a:link, .navbar-collapse ul li a:link, .navbar-collapse ul li a:visited {
	color:white;
}
.navbar-collapse .dropdown-menu li a:link, .dropdown ul li a:visited {
	color:rgb(0,0,0);
}
.container .col-md-6, .container .col-md-4, .container .col-md-3{
	padding-bottom: 20px;
}
#grids {
	background:rgba(0,0,0,0.1);
	border:1px solid rgb(255,255,255);
}
.largeIcon {
	font-size:50px;
	padding-left:35px;
	padding-right:35px
}